<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.project.project_manager">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/BaseAppTheme"
        tools:replace="icon">
        <activity android:name=".mvp.ui.activity.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".mvp.ui.activity.ConstructionActivity" />
        <activity android:name=".mvp.ui.activity.NeedToDoActivity" />
        <activity android:name=".mvp.ui.activity.ProjectItemsActivity" />
        <activity
            android:name=".mvp.ui.activity.VerifyDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity android:name=".mvp.ui.activity.FillListActivity" />
        <activity android:name=".mvp.ui.activity.LinkActivity" />
        <activity android:name=".mvp.ui.activity.NodesActivity" />
        <activity android:name=".mvp.ui.activity.MainActivity" />
        <activity android:name=".mvp.ui.activity.AddNeedActivity" />
        <activity android:name=".mvp.ui.activity.RecordActivity" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.camera.Camera1Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.camera2.Camera2Activity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.preview.PreviewActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity
            android:name="io.github.memfis19.annca.internal.ui.BaseAnncaActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ThemeFullscreen" />
        <activity android:name=".mvp.ui.activity.MineActivity" />
        <activity android:name=".mvp.ui.activity.RetPasswordActivity" />
    </application>

</manifest>